
body{
  background-color: #28d1d8

}

/* Container */

.form-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 25px;
   background:  #0ba5a3;
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);            /* blur background behind */

  border: 1px solid rgba(192, 145, 145, 0.3)3;

}


.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.6rem;
  color: #333;
}

/* Form groups */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 6px;
  color: #444;
}

/* Inputs */
input,
textarea,
select {
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.95rem;
  transition: border 0.2s ease;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

/* Gender options (radio buttons) */
.gender-options {
  display: flex;
  gap: 12px;
  
}
input[type="radio"] { width: 20px;; height: 20px;; margin:0; accent-color: #fff; }

.gender-options label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

/* File upload */
.file-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.file-btn {
  padding: 8px 14px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.file-btn:hover {
  background: #0056b3;
}

.file-name {
  font-size: 0.9rem;
  color: #555;
}

/* Submit button */
button[type="submit"] {
  width: 50%;
  padding: 12px;
  margin: auto;
  display: flex;
  justify-content: center;
  background: #28a745;
  color: #fff;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

button[type="submit"]:hover {
  background: #218838;
}

/* Responsive */
@media (max-width: 600px) {
  .form-container {
    margin: 20px;
    padding: 20px;
  }
}
